@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
/*roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --clr-neon: hsl(317, 100%, 54%);
  --clr-bg: hsl(323, 21%, 16%);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*body {*/
/*	font-family: 'Open Sans', sans-serif;*/
/*	line-height: 1.75em;*/
/*	font-size: 16px;*/
/*	background-color: #222;*/
/*	color: #aaa;*/
/*}*/

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  /*background: var(--clr-bg);*/
	/*background-color: #222;*/
	background: #228dff;
  /*font-family: "Balsamiq Sans", cursive;*/
	font-family: 'Roboto Mono', monospace;
  /*color: var(--clr-neon);*/
	/*color: #bdbcbc;*/
	color: #228dff;
  padding-right: 10rem;
}



/* Neon button  START */

.neon-button {
  font-size: 4rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

/*.neon-button::before {*/
/*  pointer-events: none;*/
/*  content: "";*/
/*  position: absolute;*/
/*  background: var(--clr-neon);*/
/*  top: 120%;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/

/*  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);*/
/*  filter: blur(1em);*/
/*  opacity: 0.7;*/
/*}*/

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  /*color: #fff;*/
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}


/* Neon button END */



.simple-container {
	max-width: 675px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 20px;
}

.simple-print {
	fill: white;
	stroke: white;
}
.simple-print svg {
	height: 100%;
}

.simple-close {
	color: white;
	border-color: white;
}

.simple-ext-info {
	border-top: 1px solid #aaa;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

a[href] {
	color: var(--clr-neon);
}

a[href]:hover {
	color: #000;
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}

/* MINE */

.border-neon {
	/*border-color: var(--clr-neon);*/
	border-color: #ccff00;
	border-radius: 0.25em;

  /*text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em currentColor;*/

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

mark {
    color: #c76c37;
    background-color: inherit;
}

.bg-code {
    background-color: #2B2B2B;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1rem;

}

.bg-code-secondary {
    background-color: #3C3F41;
}

hr {
	border-top: 3px solid #228dff;
}

/*.blue {*/
/*  color: #228dff;*/
/*}*/

.main-container-border {
	 z-index: 0;
	border: 0.2rem solid #fff;
	border-radius: 2rem;
	box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

h1 {
	color: #228dff;
}

h6 {
	font-size: 1.5rem;
	color: #228dff;
}

.bg-image {
}